.footer {
    background: #4f4f4f;
    padding: 10px 0;
}

.footer h1{
    text-align: center;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul li {
    list-style: none;
    margin: 0 5px;
}

.footer ul li a {
    color: tomato;
}

